# Dart/Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Supabase CLI
supabase/.temp/

# Firebase / env
*.log
*.tmp
.env
.env.*
env/*.json
!env/dev.example.json

